# Включение mod_rewrite (для редиректов)
RewriteEngine On

# Пример: Редирект с www на без www (или наоборот)
RewriteCond %{HTTP_HOST} ^www\.qekkel\.com [NC]
RewriteRule ^(.*)$ https://qekkel.com/$1 [L,R=301]

# Блокировка доступа к скрытым файлам
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
