/* Основной стиль для сайта */
body {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    background-color: #EDDFDC;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100%;  /* Заставляем body растягиваться на всю высоту */
/* Убираем все отступы и поля */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    border: 0;
    outline: none;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* Убираем отступы у контейнера */
header, footer {
    margin: 0;
    padding: 0;
}
/* Глобальная настройка box-sizing */
* {
    box-sizing: border-box;
}

/* Шапка */
header {
    background-color: #EDDFDC;
    margin: 0;
    padding: 20px; /* Добавлен отступ */
    display: flex;
    flex-direction: column; /* Добавляем вертикальное расположение элементов */
    justify-content: center; /* Центрируем элементы по вертикали */
    align-items: center;
    height: 200px; /* Увеличиваем высоту шапки */
}

/* Контейнер для логотипа и текста */
.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}
/* Убираем отступы внутри элементов */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

img {
    display: block;  /* Убирает возможные пробелы под изображениями */
    max-width: 100%;
    height: auto;
}
/* Лого */
.logo {
    max-width: 200px;
    height: auto;
}

/* Текст рядом с логотипом */
.logo-text {
    font-family: 'Pangolin', sans-serif;
    font-size: 2rem;
    color: #3D6E69;
    margin-left: 10px;
    text-decoration: none;
}

/* Меню */
nav {
    display: flex;
    justify-content: center; /* Центрируем меню */
    width: 100%;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    color: #E75C67;
}

nav a:first-child {
    margin-left: 50px;
}

/* Основной контент */
main {
    flex-grow: 1; /* Этот блок растягивается, заполняя доступное пространство */
    padding: 20px;
}

/* Стиль галереи */
.gallery-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Изображения будут равномерно распределяться */
    gap: 20px; /* Расстояние между изображениями */
    padding: 0; /* Убираем отступы внутри контейнера */
    margin: 0; /* Убираем внешние отступы у контейнера */
}

/* Стиль для каждого элемента галереи */
.gallery-item {
    width: 300px; /* Фиксированная ширина для каждого элемента */
    margin-bottom: 20px; /* Дополнительные отступы */
    position: relative;
    overflow: hidden;
    border-radius: 5px; /* Закругленные углы */
    box-sizing: border-box; /* Учитываем отступы и границы в общей ширине */
}

/* Стиль для изображений в галерее */
.gallery-image {
    width: 100%;
    height: 400px;  /* Установите фиксированную высоту */
    object-fit: cover;  /* Это помогает изображению заполнять контейнер */
}

/* Изображения в галерее */
.gallery-item img {
    width: 100%;
    height: 100%; /* Высота изображения будет равна высоте контейнера */
    display: block; /* Убирает пустые области снизу */
    border-radius: 0;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* На мобильных устройствах элементы будут занимать всю ширину */
@media (max-width: 768px) {
    .gallery-item {
        width: 100%; /* Каждый элемент будет занимать всю ширину контейнера */
    }
}



/* Эффект при наведении на изображение */
.gallery-item:hover img {
    opacity: 0.7;
}

/* Добавляем overlay с красным цветом при наведении */
.gallery-item:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E75C67;
    opacity: 0.9;
    z-index: 1;
    transition: opacity 0.3s ease;
}

/* Добавляем overlay и текст с названием */
.gallery-item:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
}

/* Секция About */
.about-section {
    display: flex;
    justify-content: center; /* Центрируем контент по горизонтали */
    align-items: center;     /* Выравниваем элементы по вертикали */
    padding: 20px;
}

.about-container {
    display: flex;
    justify-content: center; /* Центрируем контейнер по горизонтали */
    gap: 20px; /* Отступ между изображением и текстом */
    padding: 20px;
    max-width: 1200px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем контейнер */
}

.about-photo-container {
    margin-right: 30px; /* Отступ справа от фото */
    flex: 0 0 40%; /* Фиксированная ширина 40% */
    position: relative;
    overflow: hidden;
}

.about-photo {
    width: 100%; /* Растягиваем фото на всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    object-fit: cover; /* Масштабируем изображение */
}

.profile-image {
    width: 30vw;  /* Ширина изображения — 30% от ширины окна */
    height: auto; /* Высота будет сохранять пропорции */
    max-width: 250px; /* Максимальная ширина изображения */
    border-radius: 50%;
    object-fit: cover;
}

.text-content {
    max-width: 600px; /* Ограничиваем максимальную ширину текста */
    font-size: 1.1rem; /* Размер шрифта */
    line-height: 1.6; /* Межстрочный интервал */
    color: #333;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Элементы будут располагаться в колонку на маленьких экранах */
        text-align: center;
    }

    .profile-image {
        width: 50vw; /* Увеличиваем ширину изображения на маленьких экранах */
        max-width: 200px; /* Максимальная ширина изображения */
    }

    .text-content {
        max-width: 90%; /* Текст будет занимать больше пространства на мобильных устройствах */
    }
}

/* Стили для раздела "Contact" */
.contact-section {
    display: flex; /* Используется Flexbox для выравнивания элементов в строку */
    justify-content: center; /* Распределяет элементы по всей ширине с равным промежутком между ними */
    padding: 50px; /* Отступы вокруг всего раздела, чтобы добавить пространство */
}

.contact-info {
    width: 45%; /* Задает ширину блока с информацией о контакте в 45% от ширины родителя */
    font-size: 18px; /* Устанавливает размер шрифта для текста в этом блоке */
    margin-right: 20px; /* Отступ справа, чтобы увеличить расстояние между текстом и формой */
}

.contact-info a {
    color: #E75C67; /* Устанавливает цвет ссылок в блоке контактов */
}

.contact-form {
    width: 45%; /* Ширина формы также составляет 45% от родительского контейнера */
    margin-right: 20px; /* Отступ справа, чтобы увеличить расстояние между текстом и формой */
}

.form-row {
    display: flex; /* Flexbox для выравнивания элементов формы в строку */
    width: 100%; /* Ширина для каждого блока в строке формы */
    gap: 20px; /* Промежуток в 20px между колонками внутри строки */
    margin-bottom: 25px; /* Отступ снизу для разделения строк в форме */
}

.form-row div {
    width: 50%; /* Ширина каждого блока внутри строки составляет 48% от ширины строки */
}

label {
    font-size: 16px; /* Размер шрифта для меток */
    margin-bottom: 5px; /* Отступ между меткой и полем ввода */
    display: block; /* Блочный элемент */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Поля ввода занимают всю ширину контейнера */
    padding: 10px; /* Отступы внутри полей */
    margin-bottom: 10px; /* Отступ снизу между полями */
    border: 1px solid #ccc; /* Рамка вокруг полей */
    border-radius: 5px; /* Округленные углы */
    font-size: 16px; /* Размер шрифта в полях */
}

textarea {
    height: 150px; /* Высота текстового поля */
}

button[type="submit"] {
    background-color: #E75C67; /* Цвет фона кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Без рамки вокруг кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Округленные углы кнопки */
    cursor: pointer; /* Курсор меняется на указатель */
}

button[type="submit"]:hover {
    background-color: #c3313d; /* Цвет кнопки при наведении */
}

/* Стили футера */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    padding: 10px 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-left: 20px;
}

.social-icon {
    width: 15px; /* Устанавливаем размер иконок */
    height: auto;
    transition: transform 0.3s ease;
}