/* Основной стиль для сайта */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    background-color: #EDDFDC;
    font-family: 'Palanquin', Arial;
    color: #333;
    margin: 0; /* Обнуляем отступы */
    padding: 0; /* Обнуляем внутренние отступы */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
}

/* Шапка */
header {
    background-color:#EDDFDC;
    font-family: 'Palanquin';
    padding: 20px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: auto; /* Сдвигаем влево, добавляя автоматический отступ справа */
}

.logo {
    max-width: 100px;
    height: auto;
}

.logo-text {
    font-size: 2rem;
    color: #3D6E69;
    margin-left: 5px;
    text-decoration: none;
    font-family: 'Lilita One', cursive; /* Применяем шрифт Lalezar */
}

nav {
    display: flex;
    font-family: 'Palanquin';
    justify-content: center;
    margin-top: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold; /* Используем жирный стиль (700), если выбран */
    font-size: 1rem;
    font-family: 'Palanquin', sans-serif; /* Указываем новый шрифт */
    transition: color 0.3s ease;
}

nav a:hover {
    color: #E75C67;
}

/* Основной контент */
main {
    flex-grow: 1;
    padding: 20px;
}

/* Стиль галереи */
.gallery-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Добавляем отступы между элементами */
    justify-content: center;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    transition: transform 0.3s ease;
    width: calc(33.333% - 20px); /* 3 элемента на строку */
    max-width: calc(100% / 3 - 20px);
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.gallery-item img {
    width: 100%;
    height: 100%; /* Сохраняем пропорции */
    object-fit: cover;
    border-radius: 0px;
    transition: opacity 0.3s ease;
}

.gallery-item:hover img {
    opacity: 0.7;
}

.gallery-item::after {
    content: attr(data-title);
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 0px;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover::after {
    opacity: 1;
}

/* Стиль модального окна */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Футер */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-left: 10px;
}

.social-icon {
    width: 20px; /* Устанавливаем размер иконок */
    height: auto;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

/* Адаптивность для галереи */
@media (max-width: 1200px) {
    .gallery-item {
        width: calc(33.333% - 20px); /* 3 элемента на строку */
        max-width: calc(33.333% - 20px);
    }
}

@media (max-width: 768px) {
    .gallery-item {
        width: calc(50% - 20px); /* 2 элемента на строку */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: calc(100% - 20px); /* 1 элемент на строку */
        max-width: calc(100% - 20px);
    }
}

/* Секция About */
.about-section {
    font-family: 'Palanquin, Lilita One';
    display: flex;
    justify-content: center; /* Центрируем контент по горизонтали */
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    padding: 20px;
    background-color: #EDDFDC;
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.about-photo-container {
    flex: 0 0 40%; /* Фиксированная ширина 40% */
    position: relative;
    overflow: hidden;
}

.about-photo {
    width: 100%; /* Растягиваем фото на всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    object-fit: cover; /* Масштабируем изображение */
    border-radius: 0px;
}

.text-content {
    flex: 1;
    max-width: 600px; /* Ограничиваем максимальную ширину текста */
    font-size: 1.1rem; /* Размер шрифта */
    line-height: 1.6; /* Межстрочный интервал */
    color: #333;
}

.text-content h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}

.text-content ul {
    list-style-type: none;
    padding-left: 0;
}

.text-content ul li {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

/* Адаптивность для секции About */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-photo-container {
        margin-right: 0;
        margin-bottom: 20px;
        flex: 0 0 100%;
    }

    .text-content {
        padding: 0;
    }
}

/* Стили для раздела "Contact" */
.contact-section {
    display: flex; /* Используется Flexbox для выравнивания элементов в строку */
    justify-content: center; /* Распределяет элементы по всей ширине с равным промежутком между ними */
    padding: 50px; /* Отступы вокруг всего раздела, чтобы добавить пространство */
}

.contact-info {
    width: 45%; /* Задает ширину блока с информацией о контакте в 45% от ширины родителя */
    font-size: 18px; /* Устанавливает размер шрифта для текста в этом блоке */
    margin-right: 20px; /* Отступ справа, чтобы увеличить расстояние между текстом и формой */
}

.contact-info a {
    color: #E75C67; /* Устанавливает цвет ссылок в блоке контактов */
}

.contact-form {
    width: 45%; /* Ширина формы также составляет 45% от родительского контейнера */
    margin-right: 20px; /* Отступ справа, чтобы увеличить расстояние между текстом и формой */
}

.form-row {
    display: flex; /* Flexbox для выравнивания элементов формы в строку */
    width: 100%; /* Ширина для каждого блока в строке формы */
    gap: 20px; /* Промежуток в 20px между колонками внутри строки */
    margin-bottom: 25px; /* Отступ снизу для разделения строк в форме */
}

.form-row div {
    width: calc(50% - 10px); /* Ширина каждого блока внутри строки составляет 48% от ширины строки */
}

label {
    font-size: 16px; /* Размер шрифта для меток */
    margin-bottom: 5px; /* Отступ между меткой и полем ввода */
    display: block; /* Блочный элемент */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Поля ввода занимают всю ширину контейнера */
    padding: 10px; /* Отступы внутри полей */
    margin-bottom: 10px; /* Отступ снизу между полями */
    border: 1px solid #ccc; /* Рамка вокруг полей */
    border-radius: 0px; /* Округленные углы */
    font-size: 16px; /* Размер шрифта */
}

textarea {
    height: 150px; /* Высота текстового поля */
}

button[type="submit"] {
    background-color: #E75C67; /* Цвет фона кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Без рамки вокруг кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Округленные углы кнопки */
    cursor: pointer; /* Курсор меняется на указатель */
}

button[type="submit"]:hover {
    background-color: #c3313d; /* Цвет кнопки при наведении */
}







.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 20px;
    padding: 20px;
  }
  
  .product-item {
    position: relative;
    border: 0px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  
  .product-item img {
    width: 100%;
    border-radius: 0px;
  }
  
  .product-info {
    margin-top: 10px;
  }
  
  .product-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .product-price {
    font-size: 1em;
    color: #888;
  }
  
  .sold-out {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    border-radius: 0px;
    display: none; /* Hidden by default */
  }
  
  .product-item.sold-out .sold-out {
    display: block; /* Show "Sold Out" when the product is out of stock */
  }
  
  .product-item:hover {
    transform: scale(1.05); /* Увеличиваем картинку на 5% */
    box-shadow: none;
  }

  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 колонки для средних экранов */
    }
  }
  
  @media (max-width: 480px) {
    .product-grid {
      grid-template-columns: 1fr; /* 1 колонка для мобильных экранов */
    }
  }